{% extends 'index_admin.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% block content %}
<div>
<div style="float:left; height:80px">
<div class="container mt-3" >
    <div class="input-group">
      <form method="get" action="{% url 'search_authors' %}">
    <!-- other form fields -->
    <input type="text" name="q" placeholder="Search Author..." value="{{ query }}" style="border-radius: 5px;border: 1px solid">
    <button class="btn btn-outline-secondary rounded" type="submit">Search</button>
</form>
    </div>
  </div>
    </div>
</div>


<table class="table table-bordered table-sm " style="text-align: center">
    <tr>
        <th>No</th>
        <th>Author Name</th>
        <th>User Name</th>
        <th>Email</th>
        <th>Details</th>
              <th>Status</th>
    </tr>
    {% for x in authors %}
    <tr>
        <td>{{x.id}}</td>
        <td>{{ x.author_name }}</td>
        <td>{{ x.username }}</td>
        <td>{{x.email}}</td>
        <td> <a href="{% url 'viewAuthorDetails' x.id %}"><i class="fa fa-eye" style="font-size:24px; color:white"></i></a>  {% csrf_token %}</td>
        <td><label class="switch">
  <input type="checkbox" {% if x.status %} checked {%endif%}>
  <span class="slider round"></span>
</label></td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"></script>